<a href="https://colab.research.google.com/github/Jayasri159/python_E2E/blob/main/python_basics_startsipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list of items
fruits=["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [ ]:
fruits=["orange","banana","mango"]
for item in fruits:
  print(f'i have {item}.')

i have orange.
i have banana.
i have mango.

In [ ]:
name='python'
for char in name:
  print(char,end='-')
  print()

p-
y-
t-
h-
o-
n-

In [ ]:
#range
a=('0,1,2,3,4')
for i in range(5):

  print(f"loop cycle:{i}")

loop cycle:0
loop cycle:1
loop cycle:2
loop cycle:3
loop cycle:4

In [ ]:
print('counting from 1 to 5')
a=[1,2,3,4,5,6]
for i in range(1,6):

  print('i')

counting from 1 to 5
i
i
i
i
i

In [ ]:
print('counting from 1 to 5')
a=[1,2,3,4,5,6]
for i in range(1,6):

  print(i)

counting from 1 to 5
1
2
3
4
5

In [ ]:
word = "Python"

print("\n--- Example 3: String Iteration ---")
for char in word:
    print(char, end=" ") # 'end=" "' keeps the output on one line
print() # Add a final newline

--- Example 3: String Iteration ---
P y t h o n

In [ ]:
word="Python"
print("\n string iteration")
for char in word:
  print(char,end='')
  print()#in the for loop sooo output in the vertical line

 string iteration
P
y
t
h
o
n

In [ ]:
word="Python"
print("\n ---string iteration---")
for char in word:
  print(char,end='')
print()

 ---string iteration---
Python

In [ ]:
colors = ["red", "green", "blue"]

print("\n--- Using enumerate() ---")
for index, color in enumerate(colors):
    print(f"Color #{index + 1} is {color}.")
# Output:
# Color #1 is red.
# Color #2 is green.
# Color #3 is blue.

In [ ]:
colors =["black","red","blue"]
for index,color in enumerate(colors):

  print(f"color{index +1} is {color}.")
print("\n--using Enumerate()---")

color1 is black.
color2 is red.
color3 is blue.

--using Enumerate()---

In [ ]:
colors =["black","red","blue"]
print("\n--using Enumerate()---")
for index,color in enumerate(colors):

  print(f"color{index +1} is {color}.")

--using Enumerate()---
color1 is black.
color2 is red.
color3 is blue.

In [ ]:
student ={"name":"Jannu","age":22,"major": "social"}
print("\n---iterating Through Dictionary Items---")
for key,value in student.items():
  print(f"{key.capitalize()}:{value}")

---iterating Through Dictionary Items---
Name:Jannu
Age:22
Major:social

In [ ]:
numbers=[1,2,3,0,5,6]
print('\n---using break and countine---')
for num in numbers:
  if num==0:
    print("Found a zero,skipping this iteration(countinue),")
    continue
  if num>5:
    print(f"number {num} is too high,breaking the loop")
    break

  print(f"current number:{num}")

---using break and countine---
current number:1
current number:2
current number:3
Found a zero,skipping this iteration(countinue),
current number:5
number 6 is too high,breaking the loop

In [ ]:
number=2
for i in range(1,11):
  result= 2  *  i
  print(f"{number} * {i} = {result}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
number=6
for i in range(1,11):
  result=6 * i

  print(f"{number} * {i} = {result}")

  print()

6 * 1 = 6

6 * 2 = 12

6 * 3 = 18

6 * 4 = 24

6 * 5 = 30

6 * 6 = 36

6 * 7 = 42

6 * 8 = 48

6 * 9 = 54

6 * 10 = 60

In [ ]:
for i in range(3):
 print(i)

0
1
2

In [ ]:
for k in range(1,10):
   if k==5:
      break
   print("iteration")

iteration
iteration
iteration
iteration

In [ ]:
total=0
for num in range(1,6):
   if num % 2==0:
        continue
   total += num

In [ ]:
for x in range(10,0,-2):
  print(x,end=' ')

10 8 6 4 2

In [ ]:
for i in range(2):
  for j in range(3):
    print('*')

*
*
*
*
*
*

In [ ]:
a=("programming")
for char in a:
 print(char)

p
r
o
g
r
a
m
m
i
n
g

--- Q1: Basic String Iteration ---
P
r
o
g
r
a
m
m
i
n
g

In [ ]:
import sys
class PERFECT:
  try:
    n=8
    def cal(self):
      try:
        self.f=0
        for i in range(1,self.n):
          if self.n%i == 0:
              self.f = self.f + i
        if self.f == self.p1:
          print(f'perfect number')
        else:
          print(f'not a perfect number')
      except Exception as e:
        er_t,er_m,er_lin = sys.exc_info()
        print(f'Error in line no : {er_lin.tb_lineno}')
    print('good Morning')
  except Exception as e:
      er_t,er_m,er_lin = sys.exc_info()
      print(f'Error in line no :{er_lin.tb_lineno}')
janu = PERFECT
janu.cal("self")

good Morning
Error in line no : 7